// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer {
  margin-top: 15px;
  display: none;
}

.edit-answer-link {
  margin: 0 0 15px;
}


.best-answer-btn {
  float: right;
}
